ALERT_FROM_EMAIL=
APIFY_API_TOKEN=
APIFY_CROMA_ACTOR_ID=
APIFY_FLIPKART_ACTOR_ID=
APIFY_RELIANCE_DIGITAL_ACTOR_ID=
APIFY_SENNHEISER_OFFICIAL_ACTOR_ID=
APIFY_VIJAY_SALES_ACTOR_ID=
FLIPKART_AFFILIATE_ID=
FLIPKART_AFFILIATE_TOKEN=
FRONTEND_URL=
KEEPA_API_KEY=
MONGODB_URI=
RESEND_API_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
V1_ACTIVE_RETAILERS=
VITE_API_URL=